name: "DEV DEPLOY"

on:
  push:
    branches:
      - develop

permissions:
    id-token: write
    contents: read
jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: dev
      aws-assume-role-arn: "arn:aws:iam::153439803414:role/github-actions-rubenilsonbj-pipeline"
      aws-region: "us-east-1"
      aws-statefile-s3-bucket: "rubenilsonbj-us-east-1-terraform-statefile"
      aws-lock-dynamodb-table: "rubenilsonbj-us-east-1-terraform-lock"
